#ifndef EDIT_PHOV_API
#define EDIT_PHOV_API
#include <Qt>

QString apiUrlGetId("http://localhost/phov.php?method=get_id");
QString apiUrlCheckDownload("http://localhost/phov.php?method=check_download&id=%1");
QString apiUrlDownload("http://localhost/phov.php?method=download&id=%1");
QString apiUrlUpload("http://localhost/phov.php?method=upload&id=%1");
QString apiUrlFinish("http://localhost/phov.php?method=finish&id=%1");

#endif
